:root {
  --primaryTextColor: #232e35;
  --secondaryTextColor: #656d72;
  --borderColor: #f1f1f1;
  --lineColor: #d9d9d9;
  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #fbfbfb;
  --thirdBackgroundColor: #f5f3fe;
  --primaryIconColor: #7e74f1; /* Huruf besar pada "Color" */
  --primaryIconColorHover: #5d51e8; /* Huruf besar pada "ColorHover" */
  --sectionPadding: 4.5rem 0;
  --itemBorderRadius: 0.7rem;
}

@media screen and (max-width: 1000px) {
  p {
    font-size: 0.9rem;
    line-height: 2.4rem;
  }
  .grid-3 {
    gap: 1rem;
  }
}
@media screen and (max-width: 825px) {
  /* burger */
  .burger {
    display: block;
    cursor: pointer;
    /* Tambahkan padding dan margin jika diperlukan */
    padding: 10px;
    margin: 10px;
  }
  .toggle-burger .line-1 {
    transform: rotate(-45deg) translate(-5px, 7px);
  }

  .toggle-burger .line-2 {
    opacity: 0;
  }

  .toggle-burger .line-3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /* navigation */
  nav {
    position: fixed;
    width: 50%;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    background: var(--primaryBackgroundColor);
    border-left: 1px solid var(--borderColor);
    z-index: 9;
    transform: translateX(100%);
    transition: transform 0.3s ease; /* Tambahkan transisi */
  }
  nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-active {
    transform: translateX(0);
  }

  /* hero sectio */

  #hero {
    grid-template-columns: 1fr;
    height: fit-content;
  }

  .hero-right {
    order: -1;
  }

  .hero-right img {
    width: 70%;
  }

  .hero-left {
    text-align: center;
    padding-bottom: 5rem;
  }

  .hero-left .pre-title {
    margin: 0 auto;
    padding-top: 1rem;
  }

  .hero-name {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }

  .social-media {
    font-size: 15px;
    margin: 0 10px;
    padding-top: 0.5rem;
  }
}
@media screen and (max-width: 640px) {
}
